# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables
.env
client/.env
server/.env

# Build Files
dist/
build/
client/dist/
server/dist/

# Logs
logs/
*.log

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Redis
dump.rdb

# Runtime
*.pid

# Coverage
coverage/